* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  body{
    min-height: 100vh;
    overflow-x: hidden;
    background:(#89cff0)
  }
  header{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:"Poppins", sans-serif;
    z-index: 1000;
}
.MedVoyage.png{
  margin-top:17px;
}
header ul{
  display:flex;
  justify-content: center;
  align-items: center;
  color:#000000;
  font-weight: 500;
  gap: 30px
}
header ul li{
  list-style: none;
  margin-left: 20px;
}
header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #000;
  transition: all 0.3s ease 0s;
}
header ul li a:hover{
  color:#5271ff;
}
section{
  position: relative;
  width:100%;
  height: 100vh;
  padding: 300px;
  padding-top: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
section::before{
  content:'';
  position: absolute;
  bottom:0;
  width:100%;
  height:100px;
  background: linear-gradient(to top,#fff,transparent);
  z-index:1000;
}
section img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  pointer-events: none;
}
#sun{
  mix-blend-mode:screen;
}
#text{
  position: absolute;
  color: #000;
  white-space: nowrap;
  font-size: 2.5vw;
  transition: all 0.3s ease 0s color= #000;
  z-index: 9;
}
#text:hover{
  transition: all 0.3s ease 0s;
  color:#5271ff;
  transform: scale(1.2);
}
#btn{
  text-decoration:none;
  display: inline-block;
  padding:8px 30px;
  border-radius: 40px;
  background: #000;
  color:#fff;
  font-size:1.2em;
  font-weight: 700;
  z-index: 9;
  transform: translateY(100px);
  transition: all 0.3s ease 0s;
}
#btn:hover{
  background-color: #5271ff;
}
#contacts-btn {
  color: white;
  font-family:"Poppins", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
button {
  padding: 10px 25px;
  background-color:#000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-style: color= #FFFFFF;
  font-size: large;
}
button:hover {
  background-color: #5271ff;
  transform: scale(1.2);
}
.sec{
  position:relative;
  padding: 200px;
  background:#80D7E8;
}
.sec h2{
  font-size:3.5em;
  color:#fff
}
.sec p{
  font-size:2.5em;
  color:#fff
}
.chatbot{
  position: relative;
  width:100%;
  height:100%;
  background: linear-gradient(#fff,#80D7E8);
  z-index: 300;
  padding: 500px;

}
.chatbot h2{
  color:#5271ff;
  display:flex;
  justify-content: center;
  align-items: center;
}
.chatbot p{
  display: flex;
  justify-content: center;
  align-items: center;
}

#no{
  color: white;
  font-family:"Poppins", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#yes{
  color: white;
  font-family:"Poppins", sans-serif;
  font-weight: 700;
  margin:10x;
  padding: 10px;
  transition: all 0.3s ease 0s;
  justify-content:center;
  align-items: center
}


